<!DOCTYPE html>
<html lang="en">
<head>
{{> head }}
</head>
	<body>
	{{> header }}
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
	<div class="container">
		{{{ body }}}
	</div>

	{{> footer }}
	{{> scripts }}
	</body>
</html>
