body {
    padding-top: 120px;
	background: #111 url("http://www.fluxwingcantina.co.uk/images/stars.png") repeat top;
}

a { color: #c90; } a:hover { text-decoration: none; color: #25b; }

.navbar {
	font-family: 'Oswald', sans-serif;
    padding: 20px 0;
    -webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
    -moz-transition: background .3s ease-in-out,padding .3s ease-in-out;
    transition: background .3s ease-in-out,padding .3s ease-in-out;
}

.navbar-shrink {
    padding: 0;
    background: #222;
}

.thumbnail img {
	padding: 16px;
    max-height: 300px;
}

.thumbnail .description {
    color: #777;
}

.thumbnail .productTitle {
    text-align: center;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.footer {
    text-align: center;
}